<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li>
			<span class="opener">Maths</span>
			<ul>
				<li><a href="maths/addition.html">Addition</a></li>
				<li><a href="maths/subtraction.html">Subtraction</a></li>
				<li><a href="maths/multiplication.html">Multiplication</a></li>
				<li><a href="maths/division.html">Division</a></li>
				<li><a href="maths/fractions-generator.html">Fractions Generator</a></li>
			</ul>
		</li>
		<li>
			<span class="opener">Science</span>
			<ul>
				<li><a href="science/grade1.html">Grade 1</a></li>
				<li><a href="science/grade2.html">Grade 2</a></li>
				<li><a href="science/grade3.html">Grade 3</a></li>
				<li><a href="science/grade4.html">Grade 4</a></li>
				<li><a href="science/grade5.html">Grade 5</a></li>
				<li><a href="science/grade6.html">Grade 6</a></li>
				<li><a href="science/grade7.html">Grade 7</a></li>
				<li><a href="science/grade8.html">Grade 8</a></li>
			</ul>
		</li>
		<li><a href="#">More (coming soon)</a></li>
	</ul>
</nav>
